{% extends "autostew_web_home/base.html" %}

{% block content %}

    <h1 class="page-header">Connect a dedicated server</h1>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Important API settings
            </h3>
        </div>
        <div class="panel-body">
            <p>
                These instructions assume that you did get your DS working without Autostew and want to connect it to
                Autostew. If you need help setting up your DS initially, you can look up the
                <a href="http://forum.projectcarsgame.com/showthread.php?22370-Dedicated-Server-HowTo-(Work-in-Progress)">
                    official forum thread</a>.
            </p>
            <p>
                If you are struggling to get your DS running, try asking for help in the Project CARS forums. You can
                find a lot of nice people there who are ready to help :)
            </p>
            <hr>
            <p>
                To configure your DS you will need to edit the configuration file (<strong>server.cfg</strong>) with a
                text editor or any other tool of your choice. Autostew and your dedicated server will communicate via
                the <strong>HTTP API</strong>. This configuration is <strong>required</strong>. Without it Autostew
                won't work.
            </p>
            <p>
                <strong>Don't just copy and paste those settings!</strong> Find where each setting is in your
                configuration file and set the value properly.
            </p>
            <p>
                Set these values:
            </p>
            <pre>
enableHttpApi : true
httpApiInterface : "0.0.0.0"
httpApiPort : 9000</pre>
            <p>
                You will need to create a user that Autostew can use. To do this, search for the section
                <strong>httpApiUsers</strong> in your configuration file and make it look like this:
            </p>
            <pre>
httpApiUsers : {
    "autostew" : "password",
}</pre>
            <p>
                Replace the word "password" with some actual password. Hint: don't use the same password you use for
                other services, as we will have to know and store this password in our database.
            </p>
            <p>
                You will need to give to the user you just created the permission to manage your dedicated server:
            </p>
            <pre>
httpApiGroups : {
    "private" : [ "autostew" ],
    "admin" : [ "autostew" ],
}
</pre>
            <p>Some other important settings:</p>
            <ol>
                <li>Make sure <strong>eventsLogSize</strong> is at <strong>least 1000</strong>.</li>
                <li>Set <strong>name</strong> to the name you want your DS to have.</li>
                <li>Make sure <strong>allowEmptyJoin</strong> is <strong>true</strong>.</li>
                <li>
                    Set <strong>controlGameSetup</strong> to <strong>false</strong> if you want the game host be able to
                    change the race settings. Set it to <strong>true</strong> if you want Autostew to manage the
                    settings (you will need to configure this later).
                    <strong>If you are unsure, set it to false</strong>.
                </li>
            </ol>
            <p>
                Remember to <strong>restart your DS</strong> to make the new configuration take effect. You will be
                still able to change the settings after the connection with Autostew is set up.
            </p>
            <p>
                When you are done, fill out the form below.
            </p>
        </div>
    </div>

    <script>
        function update_url() {
            var newurl = (
                    "http://" +
                    document.getElementById("api_username").value +
                    ":" +
                    document.getElementById("api_password").value +
                    "@" +
                    document.getElementById("api_address").value +
                    ":" +
                    document.getElementById("api_port").value
            );
            document.getElementById("urltest").textContent = newurl;
            document.getElementById("urltest").href = newurl;
        }
    </script>

    <form method="post" action="{% url 'account:add' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">DS name</label>
            <input type="text" class="form-control" id="name" value="" name="name" placeholder="Your DS name">
        </div>
        <div class="form-group">
            <label for="api_username">HTTP API username</label>
            <input type="text" class="form-control" id="api_username" value="" name="api_username"
                   placeholder="The username you created in the httpApiUsers section"
                   onkeydown="update_url()" onchange="update_url()" oninput="update_url()">
        </div>
        <div class="form-group">
            <label for="api_password">HTTP API password</label>
            <input type="text" class="form-control" id="api_password" value="" name="api_password"
                   placeholder="The password you set in the httpApiUsers section"
                    onkeydown="update_url()" onchange="update_url()" oninput="update_url()">
        </div>
        <div class="form-group">
            <label for="api_address">HTTP API address (IP or DNS)</label>
            <input type="text" class="form-control" id="api_address" value="" name="api_address"
                   placeholder="The address of your DS"
                    onkeydown="update_url()" onchange="update_url()" oninput="update_url()">
        </div>
        <div class="form-group">
            <label for="api_port">HTTP API port</label>
            <input type="number" class="form-control" id="api_port" value="9000" name="api_port"
                   onkeydown="update_url()" onchange="update_url()" oninput="update_url()">
        </div>
        <h3>Check if it works!</h3>
        <p>
            <strong>If everything is correct, you should be able to see your DS admin page by opening this URL:
            <a href="#" id="urltest" target="_blank"></a></strong>
        </p>
        <p>Does it look okay? Then <button type="submit" class="btn btn-danger">submit it!</button></p>
    </form>
{% endblock %}
