{% load staticfiles %}

{% block content %}
    <center>
        <a href="{% url 'home:home' %}">
            <img src="{% static 'autostew_web_home/img/Logo_letters_Tr_RGB.png' %}"
             class="responsive-img" style='max-height:60px; margin: 40px 0 20px 0px' alt="Autostew">
        </a>
    </center>
    <div class="well bs-sidebar" id="sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li><a href='{% url 'session:sessions' %}'><span class="glyphicon glyphicon-road" style="margin-right: 8%"></span> Sessions</a></li>
            <li><a href='{% url 'session:servers' %}'><span class="glyphicon glyphicon-tasks" style="margin-right: 8%"></span> Servers</a></li>
            <li><a href='{% url 'users:list' %}'><span class="glyphicon glyphicon-user" style="margin-right: 8%"></span> Drivers</a></li>
            <li><a href='{% url 'session:tracks' %}'><span class="glyphicon glyphicon-star" style="margin-right: 8%"></span> Records</a></li>
            <li><a href='{% url 'account:home' %}'><span class="glyphicon glyphicon-wrench" style="margin-right: 8%"></span> DS admin</a></li>
            <li><a href='{% url 'home:faq' %}'><span class="glyphicon glyphicon-question-sign" style="margin-right: 8%"></span> Help</a></li>
            <li><a href='{% url 'contact:contact' %}'><span class="glyphicon glyphicon-heart" style="margin-right: 8%"></span> Contact</a></li>

            {% if user.is_authenticated and user.is_staff %}
                <li><a href='{% url 'admin:login' %}'><span class="glyphicon glyphicon-console" style="margin-right: 8%"></span> Admin</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                <li><a href='{% url 'account:logout' %}'><span class="glyphicon glyphicon-off" style="margin-right: 8%"></span> Logout</a></li>
            {% endif %}

        </ul>
    </div>
{% endblock %}
