{% extends "autostew_web_home/base.html" %}

{% block content %}

    <h1 class="page-header">Help</h1>
    <h3>I am looking for a race I recently drove in but I can't find it</h3>
    <p>
        You can go to the <a href="{% url 'users:list' %}">user list</a>, look for your name there and see the list
        of races you recently participated in.
    </p>
    <hr>
    <h3>How are drivers rated?</h3>
    <p>
        Drivers have two independent ratings: the <b>safety class</b> and the <b>performance rating</b>.
    </p>
    <p>
        First and most important is the safety class. It describes how safe a driver is. The performance rating
        describes how much a driver wins or loses against other drivers.
    </p>
    <hr>
    <h3>How is the driver safety class calculated?</h3>
    <p>
        <a href="{% url 'users:safety_class_list' %}">See here a description of each safety class.</a>
    </p>
    <p>
        The Project CARS dedicated server reports impacts during the race, including the magnitude of them. Each time
        you have a collision, it's magnitude gets added to your safety rating, so a higher rating means a more unsafe
        driver. Collisions against the environment yield a maximum of 250 points, collisions against human drivers
        yield a maximum of 1.000 points. Collisions against AI drivers are not considered.
    </p>
    <p>
        For each clean lap you complete, your safety rating will improve. Complete many clean laps, and you will get
        a good safety rating.
    </p>
    <p>
        If a driver crashes excessively, she or he may be kicked from the game. That driver may rejoin immediately to
        the game if the event is still joinable (you will not be able to rejoin if the race is in progress). Eventually,
        an unsafe driver will reach the lowest safety class. Autostew will be strict with crashes by drivers in the
        lowest class until their behaviour improves.
    </p>
    <p>
        Crashes among human drivers will be weighted according to their safety class. Therefore if a driver with a bad
        rating crashes with a driver with a good rating, the well-rated driver will be automatically considered "less
        at fault" and will be awarded less crash points. The worse rated driver will always be awarded the full points
        count. A crash between two drivers of the same class will award both the full crash points.
    </p>
    <hr>
    <h3>Autostew logs crashes in a weird way!</h3>
    <p>
        Autostew cannot distinguish who is at fault in a crash. Also, as you will be playing online, it may happen that
        in your screen no crash happened, but the dedicated server still logs a crash. Even with its quirks, the system
        should in the long term assign good ratings to safe drivers and bad ratings to unsafe drivers.
    </p>
    <hr>
    <h3>I drive as safely as I can but I get kicked / have a low safety class anyway.</h3>
    <p>
        That means you are still crashing too much. We are fine-tuning the safety classes and crash limits, but one of
        our main goals is and will be to keep races clean.
    </p>
    <p>
        You can do several things to get less crash points. Be very careful at the start of the race, that is
        where most crashes happen. It is better to start the race cleanly and loose some positions in the first lap than
        ruining everybody's race (and many times your own too) being over-ambitious. You will have at least a few laps
        to get a good position. If you are unsure about an overtake, consider aborting it, especially in difficult
        corners.
    </p>
    <p>
        Be sure to respect racing rules. We will have some general rules posted soon.
    </p>
    <p>
        Some servers may have stricter crash limits than others. More info on this soon.
    </p>
    <p>
        If you can't control a car, try switching to a slower car class. It may seem boring at first, but it may be more
        rewarding to be able to concentrate on driving a car well instead of simply trying not trying to crash on every
        corner. There are generally less crashes in slower car classes. It may also be a good idea to mostly stick to
        one car class and learning only a few tracks at first. Consider joining a league just for the fun :)
    </p>
    <hr>
    <h3>How is the driver performance rating calculated?</h3>
    <p>
        We use the <a href="https://en.wikipedia.org/wiki/Elo_rating_system">Elo rating system</a>. You will be
        considered a winner over every driver who finished in a worse position than yours, but also over all drivers
        who completed a lap in any stage of the race but did not finish the race itself.
    </p>
    <p>
        In the Elo rating system, winners take points from losers. The beautiful thing about it is that the amount of
        points taken depends on the expected result of a game. Thus, if you lose against a driver who is much better
        than you, you will lose few points, but if you win against that same driver, you will get a lot of points from
        him. The same happens when you win or lose against drivers who are worse than you.
    </p>
    <p>
        The maximum points you can win from beating another driver is 5 per race (the "k" value). Therefore, if you win
        a race against 20 other players, you can get up to 100 points if all had a much better rating than you.
    </p>
{% endblock %}
