{% extends "autostew_web_home/base.html" %}

{% block content %}
    <h1>{{ steamuser.display_name }}</h1>

    <div class="row" style="text-align: center">
        <div class="col-xs-12 col-md-4 placeholder">
            <h4>Distance logged</h4>
            <h2>{{ steamuser.get_kms }} km</h2>
        </div>

        <div class="col-xs-12 col-md-4 placeholder">
            <h4>Safety class</h4>
            {% if steamuser.safety_class %}
                <h2>
                    {% include 'autostew_web_users/safetyclass_label.html' with safetyclass=steamuser.safety_class %}
                </h2>
                <h4>{{ steamuser.safety_rating }} crash points</h4>
            {% else %}
                <h4>none yet</h4>
            {% endif %}
        </div>

        <div class="col-xs-12 col-md-4 placeholder">
            <h4>Elo rating</h4>
            {% if steamuser.get_performance_rating %}
                <h2>{{ steamuser.get_performance_rating }}</h2>
                <h4>Last change: {{ steamuser.get_performance_rating_diff }}</h4>
            {% else %}
                <h4>none yet</h4>
            {% endif %}
        </div>
    </div>

    <h2>Sessions</h2>
    <ul>
        {% for session in steamuser.sessions_participated_in %}
            <li><a href="{{ session.get_absolute_url }}">Session {{ session }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
